body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
}

h2 {
    color: #333;
    text-align: center;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.right-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px; 
    margin-right: 20px;
}

.poll-wrapper {
    display: flex;
    margin-right: 10px; 
    flex-wrap: wrap;
}

.poll-form, .vote-poll, .vote-result {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 10px; 
    max-width: 200px; 
    width: 100%; 
}

input[type="text"] {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007bff;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.results {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 400px;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}

.empty-results {
    color: #999;
    font-style: italic;
    text-align: center;
}
